# Dependencies
node_modules/
target/
bin/
vendor/
.bundle/
.mvn/
pkg/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# DB
postgres_data/
*.db
*.db-journal

# Go
order-service/order-service
order-service/main_test
